html, body {
    margin: 0;
    padding: 0;
}

html {
    background-color: #F2F2F2;
    color: #000000;
    font-size: 17px;
}

body {
    background-color: #FFFFFF;
    color: #333333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgba(22, 22, 23, .8);
    padding: 10px;
    text-align: center;
}

footer {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #F5F5F7;
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    box-sizing: content-box;
    color: #0000008F;
    direction: ltr;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.0005px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    text-size-adjust: 100%;
}

ul { /*设置导航栏的框框*/
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

li {
    font-weight: 550;
    list-style-type: none; /* 去掉li前的点 */
    float: left; /*将li设置成做浮动，变为联动*/
}

li a {
    display: block;
    color: #FFFFFF;
    padding: 0px 8px;
    text-decoration: none;
}

.content {
    margin-left: 15%;
}

.problem-website-a {
    text-decoration: none;
}

.problem-website{
    padding-bottom: 20px;
}